* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#body {
    background-color: yellow;
}
.s1 {
    text-align: center;
    
}
.s2 {
    text-align: center;
    background-color: black;
}
.s2 a {
    color: white;
}
.s3 {
    text-align: center;
}
.s4 {
    text-align: center;
}
.s5 {
    text-align: center;
}
.s6 {
    text-align: center;
}

#top .myself {
    background-color: rgb(230, 240, 44);
    padding: 75px;
    text-align: center;
}

#About .store{
    padding: 75px;
    text-align: center;
}
.center {
    display: block; 
    margin: 0 auto; 
    width: 300px; 
    height: 500px;
}
.color {
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: blue;
}
footer p {
    font-weight: bold;
}
footer a {
    text-align: center;
}